Tweepy is an easy to use python library for accessing the twitter API(Application Program Interface)

In [56]:
!pip install tweepy

Requirement already satisfied: tweepy in /usr/local/lib/python3.7/dist-packages (3.10.0)
Requirement already satisfied: requests[socks]>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from tweepy) (2.23.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.15.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.3.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)

In [57]:
import tweepy
import pandas as pd

In [58]:
consumer_key = 'P0SA2lFlPpEFfeAxB4wMHxTcd'
consumer_secret = 'qA6vS4tCAmM2dRrI7PWzNOA1DX3xsheC4y0Jhw21C3WxOHtdVl'
access_token = '1272369059615535104-RQSpbByppiOrR6fdEqDUJnkyEsn24U'
access_token_secret = 'NOCRJKaEFtSXGDydmGN80NR91QRLpx8Dhsp6bbnNR3rN6'

Authetication using the obtained keys and tokens

In [59]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

Importing 150 tweets from BBC News twitter handle

In [60]:
n_tweets = 150
get_tweets = tweepy.Cursor(api.user_timeline, id = 'BBCBreaking', tweet_mode = 'extended').items(n_tweets)

*note*: go to https://docs.tweepy.org to know about the API references of tweepy.API

150 Tweets details relevant to the keyword will be stored in get_tweets variable in JSON format

**Iterate over extracted tweets saved in 'get_tweets' variable and store the tweets text and time**

In [61]:
tweets = []
time_of_tweet = []
for i in get_tweets:
  tweets.append(i.full_text)      # .full_text returns the text written in a particular tweet
  time_of_tweet.append(i.created_at)   # .created_at returns the time of tweet

In [62]:
df = pd.DataFrame({'tweet':tweets, 'time':time_of_tweet})

In [63]:
df.iloc[:50,:]

                                                tweet                time
0   UK's early Covid response was "one of the most... 2021-10-12 08:09:48
1   Austria's Chancellor Sebastian Kurz resigns am... 2021-10-09 18:18:41
2   A US appeals court reinstates Texas's near tot... 2021-10-09 03:20:39
3   Conservative MP and former UK government minis... 2021-10-08 10:38:59
4   Journalists Maria Ressa and Dmitry Muratov joi... 2021-10-08 09:10:05
5   South Africa and Brazil among 47 destinations ... 2021-10-07 16:33:09
6   Saudi Arabian-backed takeover of Newcastle Uni... 2021-10-07 16:30:19
7   Children across much of Africa are to be vacci... 2021-10-06 15:58:15
8   Dubai ruler Sheikh Mohammed Al-Maktoum ordered... 2021-10-06 15:06:04
9   Inquiry launched into "systematic failures" th... 2021-10-05 11:41:52
10  216,000 people have been victims of sexual abu... 2021-10-05 07:58:13
11  Retail tycoons, foreign royals and super-rich ... 2021-10-05 05:48:28
12  Social media platforms Facebook, WhatsApp and ... 2021-10-04 22:45:09
13  Social media services Facebook, Whatsapp and I... 2021-10-04 16:44:34
14  Conservative Party donor Mohamed Amersi, who c... 2021-10-04 05:16:43
15  Fumio Kishida has formally been announced as J... 2021-10-04 04:49:51
16  Former UK Prime Minister Tony Blair and his wi... 2021-10-03 16:52:08
17  Massive data leak, the Pandora Papers, exposes... 2021-10-03 16:34:07
18  Petrol problems "virtually over" in Scotland, ... 2021-10-03 14:12:06
19  After years of controversy, Japan‚Äôs Princess M... 2021-10-01 05:17:24
20  Met Police officer who murdered Sarah Everard ... 2021-09-30 11:13:33
21  Ex-Met Police officer Wayne Couzens handcuffed... 2021-09-29 10:17:05
22  Former Liverpool and England World Cup-winning... 2021-09-28 11:37:39
23  Gloria Allred, an attorney who represented thr... 2021-09-27 20:12:42
24  Man charged with murder of primary school teac... 2021-09-27 19:39:59
25  After decades of abuse allegations, singer R. ... 2021-09-27 19:35:27
26  RT @BBCSport: USA regain the #RyderCupüèÜ\n\nCol... 2021-09-26 20:52:33
27  Police investigating the death of Sabina Nessa... 2021-09-26 07:37:05
28  RT @BBCSport: AND THE NEW....\n\nOleksandr Usy... 2021-09-25 22:07:08
29  5,000 overseas lorry drivers and 5,500 poultry... 2021-09-25 21:30:46
30  Two Canadians detained in China since 2018 are... 2021-09-25 01:29:17
31  Top Huawei executive flies home to China after... 2021-09-25 00:13:17
32  US drops extradition request and agrees deal t... 2021-09-24 19:19:37
33  38-year-old man arrested on suspicion of the m... 2021-09-23 19:21:12
34  Compensation payments for hundreds of civilian... 2021-09-23 17:25:54
35  Life expectancy for men in the UK falls for th... 2021-09-23 16:05:15
36  Man charged with the murders of three children... 2021-09-22 07:19:32
37  Body found in US national park is that of miss... 2021-09-21 21:28:22
38  "A decisive decade for our world" - Joe Biden ... 2021-09-21 14:12:19
39  Third Russian accused by UK police of involvem... 2021-09-21 10:07:48
40  Russia responsible for killing Alexander Litvi... 2021-09-21 08:57:22
41  Canada's Justin Trudeau says "brighter days ah... 2021-09-21 05:44:20
42  UK's defence secretary orders investigation in... 2021-09-20 20:53:54
43  US relaxing Covid travel restrictions for full... 2021-09-20 14:59:54
44  US expected to relax travel ban for passengers... 2021-09-20 14:19:51
45  John Challis, best known for playing Boycie in... 2021-09-19 13:18:05
46  RT @BBCSport: Tottenham's record goalscorer an... 2021-09-19 09:20:29
47  France recalls ambassadors from US and Austral... 2021-09-17 19:53:56
48  US admits drone strike in Kabul just before mi... 2021-09-17 18:54:39
49  Amber list scrapped and PCR tests no longer ne... 2021-09-17 15:55:55

Remove retweets

In [64]:
df = df[df['tweet'].str.contains("RT") == False]

Reset Index

In [65]:
df = df.reset_index().drop('index',axis = 1)

Remove links as they dont represent sentiment

In [66]:
# use Regex Library to find the pattern "http" followed any length of string or number with white space
import re

df1 = df.copy()
df1.tweet = df.tweet.apply (lambda x : re.sub(r"http\S+", "",x))

Remove '/n' wish represents line breaks

In [67]:
df1.tweet = df1.tweet.apply(lambda x : x.replace('\n\n',' '))
df1.tweet = df1.tweet.apply(lambda x : x.replace('\n \n',' '))

**Text Blob**

A python library for processing textual data. it provides a simple API for diving into common natural language processing (NLP) tasks such as part-of-speech tagging, noun phrase extraction, sentiment analysis, classification, translation and more

In [68]:
pip install textblob

Requirement already satisfied: textblob in /usr/local/lib/python3.7/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.7/dist-packages (from textblob) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (1.15.0)

In [69]:
from textblob import TextBlob
df1['sentiment'] = df1['tweet'].apply(lambda x: TextBlob(x).sentiment)

The .sentiment attribute returns 2 things:



*   sentiment [-1,1] : 0 means neutral, <0 means negative and >0 means positive sentiment
*   Subjectiveness : tell if the topic being mentioned in the tweet is an opinion or fact

Since we have to check tweets sentiment, we will use the sentiment score and classify it as positive, negative or neutral using a nested if-else statement

In [70]:
df1. sentiment = df1.sentiment.apply(lambda x : "Positive" if x[0] > 0 else ("Negative" if x[0] < 0 else "Neutral"))
df1

                                                 tweet  ... sentiment
0    UK's early Covid response was "one of the most...  ...  Positive
1    Austria's Chancellor Sebastian Kurz resigns am...  ...  Negative
2    A US appeals court reinstates Texas's near tot...  ...  Positive
3    Journalists Maria Ressa and Dmitry Muratov joi...  ...  Positive
4    South Africa and Brazil among 47 destinations ...  ...   Neutral
..                                                 ...  ...       ...
125  Almost all of Scotland's remaining Covid restr...  ...  Positive
126  NHS Covid App for England and Wales tweaked so...  ...  Positive
127  Italy's Lamont Marcell Jacobs wins men's 100m ...  ...  Positive
128  UK Prime Minister Boris Johnson and wife Carri...  ...   Neutral
129  Elaine Thompson-Herah sets new Olympic record,...  ...  Positive

[130 rows x 3 columns]